.dock {
  $comp: &;

  height: 512px;
  position: relative;

  &::before,
  &::after {
    @include pseudo-content(fixed);
    left: 0;
    right: 0;
  }

  &::before {
    top: 0;
    bottom: calc(50% - 172px);
    background: linear-gradient(to top, #000 0%, rgba(#fff, 0) 100%);
  }

  &::after {
    top: calc(50% + 172px);
    bottom: 0;
    background: linear-gradient(to bottom, #aeaeae 0%, #bababa 30%, #cecece 60%, #fdfdfd 90%, #fff 100%);
  }

  &__window {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: 480px;

    &--active #{$comp}__visual,
    &:hover #{$comp}__visual {
      opacity: 1;
    }

    &--active {
      #{$comp}__icon {
        cursor: default;
        opacity: 0;
        transform: scale(1) !important;
        transition: transform 0.6s, opacity 0.3s;

        &--active {
          opacity: 1;
        }
      }
    }
  }

  &__visual {
    position: absolute;
    opacity: 0;
    transition: opacity 0.4s;
  }

  &__icons {
    position: absolute;
    left: 15px;
    right: 0;
    bottom: -80px;
    display: flex;
    justify-content: space-between;
  }

  &__icon {
    height: 300px;
    flex: 1 0 auto;
    background-repeat: no-repeat;
    background-position: 50% 100%;
    position: relative;
    transition: opacity 0.3s;
    z-index: 1;
    cursor: pointer;
  }

  &__image {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(0.5);
  }

  &__info {
    position: absolute;
    right: 15px;
    top: -999em;
    background: #fff;
    box-shadow: 0 0 10px rgba(#000, 0.5);
    width: 460px;
    min-height: 202px;
    border: 1px solid #fff;
    border-width: 0 0 0 1px;
    padding: 30px;
    opacity: 0;
    transition: top 0s, opacity 0.2s;
    transition-delay: 0.2s, 0s;

    &--active {
      top: 60px;
      opacity: 1;
      transition-duration: 0s, 0.7s;
      transition-delay: 0s, 0s;
    }
  }

  &__title {
    font-size: 1.7em;
    margin-bottom: 0.2em;
    font-style: italic;
    font-family: Times, serif;
  }

  &__close {
    position: absolute;
    z-index: 2;
    right: 0;
    top: 0;
    width: 36px;
    height: 36px;
    background: lighten(#34505f, 10%);
    outline: none;
    border: none;
    border-radius: 50%;
    text-indent: -999em;
    display: block;
    border: 1px solid #fff;
    box-shadow: 0 0 5px rgba(#000, 0.2);
    transform: translate(50%, -50%) rotate(45deg);
    transition: 0.2s;
    cursor: pointer;

    &::before,
    &::after {
      @include pseudo-content(absolute);
      width: 2px;
      height: 50%;
      background: #fff;
      top: 25%;
      left: calc(50% - 1px);
    }

    &::after {
      transform: rotate(90deg);
    }

    &:hover {
      background: #34505f;
      box-shadow: 0 0 2px rgba(#000, 0.9);
    }

    &:active {
      top: 1px;
    }
  }
}
