* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	overflow-y: scroll;
	max-width: 100vw;
	overflow-x: hidden;
}

body {
	background: #fff;
	color: #676258;
	font: 92%/1.6 normal;
	font-family: Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.main {
  width: 970px;
  margin: 0 auto;
}

img {
	border: 0;
	max-width: 100%;
	height: auto;
}
